<footer class="page-footer indigo">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Powered by the Pokéapi</h5>
				<p class="grey-text text-lighten-4">
					Check it out at <a href="http://pokeapi.co/" class="grey-text text-lighten-3" target="_blank">http://pokeapi.co/</a>
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Find us on GitHub</h5>
				<a class="grey-text text-lighten-3" href="https://github.com/jpvg95/simple-pokedex" target="_blank">GitHub Project</a>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© Juan Pablo Valencia,
		</div>
	</div>
</footer>
