<nav class="indigo darken-1">
	<div class="container">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">Simple Pokédex</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="pokedex">Explore Pokédex</a></li>
				<li><a href="random_pokemon">Random Pokémon Team</a></li>
				<li><a href="compare">Compare Pokémon</a></li>
			</ul>
			<ul class="side-nav" id="mobile-menu">
				<li><a href="pokedex">Explore Pokédex</a></li>
				<li><a href="random_pokemon">Random Pokémon Team</a></li>
				<li><a href="compare">Compare Pokémon</a></li>
			</ul>
			<a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</div>
</nav>
