<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>

		<!-- Handlebars -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
		
		<!-- Chosen -->
		<script src="plugins/chosen/chosen.jquery.min.js"></script>
		<link rel="stylesheet" href="plugins/chosen/chosen.min.css">
	</head>
	<body>
		<% include ../partials/header %>

		<main>
			<div class="container" id="main">
				<h3>Compare Pokémon</h3>
				
				<div class="row" hidden="hidden">
					<div class="col s12 m5 l4">
						<select data-placeholder="Choose a Pokémon..." id="select1">
							<option value></option>
						</select>
					</div>
					<div class="col s12 m5 l4">
						<select data-placeholder="Choose a Pokémon..." id="select2">
							<option value></option>
						</select>
					</div>
					<div class="col s2">
						<a class="waves-effect waves-light btn indigo lighten-2" id="btn-go">Go!</a>
					</div>
				</div>
				
				<div class="row">
					<div class="loading">
						<div class="preloader-wrapper big active">
							<div class="spinner-layer spinner-blue-only">
								<div class="circle-clipper left">
									<div class="circle"></div>
								</div>
								<div class="gap-patch">
									<div class="circle"></div>
								</div>
								<div class="circle-clipper right">
									<div class="circle"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" id="div-details">
					<div class="col s12 m6" id="details1"></div>
					<div class="col s12 m6" id="details2"></div>
				</div>
			</div>
		</main>

		<% include ../partials/footer %>
		
		<!-- Handlebars template -->
		<script id="select-template" type="text/x-handlebars-template">			
			{{#pokemons}}
			<option value="{{name}}">{{name}}</option>
			{{/pokemons}}
		</script>
		
		<!-- Handlebars template -->
		<script id="details-template" type="text/x-handlebars-template">			
			<h4 class="name-field">{{name}}</h4>
			<div class="row">
				<div class="col s12 m6">
					<img id="image-front" src="{{front}}">
					<img id="image-back" src="{{back}}">
				</div>
				<div class="col s12 m6">
					{{#types}}
					<p><a class="btn badge {{color}}">{{name}}</a></p>
					{{/types}}
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<h5>Base stats</h5>
					{{#stats}}
					<div class="row">
						<div class="col s12 m3">
							<strong><span class="name-field">{{name}}:</span></strong><span> {{value}}</span>
						</div>
						<div class="col s12 m9">
							<div class="progress">
								<div class="determinate" style="width: {{width}}%"></div>
							</div>
						</div>
					</div>
					{{/stats}}
				</div>
				<div class="col s12" id="div-defenses-{{index}}">
					<h5>Defenses</h5>
					<h6>The effect that different type moves have on this Pokémon</h6>
				</div>
			</div>
		</script>
		
		<!-- Handlebars template -->
		<script id="defenses-template" type="text/x-handlebars-template">
			{{#defenses}}
			<p>
				<a class="btn badge {{color}}">{{type}}</a>
				<span> x {{value}}</span>
			</p>
			{{/defenses}}
		</script>

		<% include ../partials/scripts %>
		
		<script src="js/compare.js"></script>
	</body>
</html>