<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>

		<main>
			<div class="container">
				<h3>Welcome to the Simple Pokédex!</h3>
				<div class="row">
					<div class="col s7 m5">
					  	<img class="responsive-img" src="img/pokeball.png">
					</div>
				</div>
			</div>
		</main>

		<% include ../partials/footer %>

		<% include ../partials/scripts %>
	</body>
</html>