<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>

		<main>
			<div class="container">
				<h3>Pokédex</h3>

				<div class="row">
					<div class="col s12 m6">
						<div class="collection">
							<a href="pokedex_details?name=national" class="collection-item black-text">National</a>
							<a href="pokedex_details?name=kanto" class="collection-item black-text">Kanto</a>
							<a href="pokedex_details?name=original-johto" class="collection-item black-text">Original Johto</a>
							<a href="pokedex_details?name=updated-johto" class="collection-item black-text">Updated Johto</a>
							<a href="pokedex_details?name=hoenn" class="collection-item black-text">Hoenn</a>
							<a href="pokedex_details?name=updated-hoenn" class="collection-item black-text">Updated Hoenn</a>
							<a href="pokedex_details?name=original-sinnoh" class="collection-item black-text">Original Sinnoh</a>
							<a href="pokedex_details?name=extended-sinnoh" class="collection-item black-text">Extended Sinnoh</a>
							<a href="pokedex_details?name=original-unova" class="collection-item black-text">Original Unova</a>
							<a href="pokedex_details?name=updated-unova" class="collection-item black-text">Updated Unova</a>
							<a href="pokedex_details?name=kalos-central" class="collection-item black-text">Central Kalos</a>
							<a href="pokedex_details?name=kalos-coastal" class="collection-item black-text">Coastal Kalos</a>
							<a href="pokedex_details?name=kalos-mountain" class="collection-item black-text">Mountain Kalos</a>
						</div>
					</div>

					<div class="col s12 m6">
						<img class="responsive-img" src="img/pokedex.png">
					</div>
				</div>
			</div>
		</main>

		<% include ../partials/footer %>

		<% include ../partials/scripts %>
	</body>
</html>