<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
		
		<!-- Handlebars -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
	</head>
	<body>
		<% include ../partials/header %>

		<main>
			<div class="container" id="main">
				<h3 id="pokemon-name" class="name-field"></h3>
			</div>
		</main>

		<% include ../partials/footer %>

		<!-- Handlebars template -->
		<script id="details-template" type="text/x-handlebars-template">
			<div class="row">
				<div class="col s12 m6 l4">
					<img id="image-front" src="{{front}}">
					<img id="image-back" src="{{back}}">
				</div>
				<div class="col s12 m6 l2">
					{{#types}}
					<p><a class="btn badge {{color}}">{{name}}</a></p>
					{{/types}}
				</div>
			</div>

			<h5>National #{{number}}</h5>

			<div class="row">
				<div class="col s12 m6">
					<h4>Abilities</h4>
					<ul class="collapsible" data-collapsible="accordion" id="collapsible-ability">
						{{#abilities}}
						<li>
							<div class="collapsible-header"><p class="name-field">{{name}}{{#if isHidden}}<span> (Hidden)</span>{{/if}}</p></div>
							<div class="collapsible-body"><p id="ability-{{name}}" class="description"></p></div>
						</li>
						{{/abilities}}
					</ul>
				</div>
				<div class="col s12 m6">
					<h4>Base stats</h4>
					{{#stats}}
					<div class="row">
						<div class="col s12 m3">
							<strong><span class="name-field">{{name}}:</span></strong><span> {{value}}</span>
						</div>
						<div class="col s12 m9">
							<div class="progress">
								<div class="determinate" style="width: {{width}}%"></div>
							</div>
						</div>
					</div>
					{{/stats}}
				</div>
			</div>

			<div class="row" id="row-moves">
				<div class="col s12 m6">
					<h4>Moves</h4>
					<h6>A list of all the moves this Pokémon could potentially learn</h6>
					<ul class="collapsible" data-collapsible="accordion" id="collapsible-move">
						{{#moves}}
						<li>
							<div class="collapsible-header"><p class="name-field">{{name}}</p></div>
							<div class="collapsible-body">
								<p class="description">
									<span id="move-{{name}}"></span><br>
									<span id="power-{{name}}"><strong>Power: </strong></span><br>
									<span id="accuracy-{{name}}"><strong>Accuracy: </strong></span>
								</p>
							</div>
						</li>
						{{/moves}}
					</ul>
				</div>
				<div class="col s12 m6" id="div-defenses">
					<h4>Defenses</h4>
					<h6>The effect that different type moves have on this Pokémon</h6>
				</div>
			</div>
		</script>

		<!-- Handlebars template -->
		<script id="defenses-template" type="text/x-handlebars-template">
			{{#defenses}}
			<p>
				<a class="btn badge {{color}}">{{type}}</a>
				<span> x {{value}}</span>
			</p>
			{{/defenses}}
		</script>

		<% include ../partials/scripts %>
		<script src="js/pokemon_details.js"></script>
	</body>
</html>